.Chat-main
  .Chat-main__group-info
    .Group-title
      .Group-title__main
        = @group['name']
      .Group-title__sub
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .Edit
      = link_to edit_group_path(@group), class: "Edit__btn" do
        Edit
  .Chat-main__message-list
    = render @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__content
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'image-icon')
          = f.file_field :image, class: 'image-file'
      = f.submit 'Send', class: 'Form__submit'